<div class="w100">
  <div class="brandBlock">
    <div class="brand">Log Analytics</div>
  </div>
  <div class="sideMenu">

    <ul>
      <li class="menuList current">
        <a href="" class="menuLink">
          View Logs
        </a>
      </li>
      <li class="menuList">
        <a href="" class="menuLink">
          Upload Logs
        </a>
      </li>
    </ul>
  </div>
  <div class="contentTab">
   
    <app-log-data-table></app-log-data-table>
    <app-charts></app-charts>
  </div>
</div>

