body{
    margin: 0px;
        font-family: sans-serif;
}
.sideMenu {
  width: 20%;
  height: 100vh;
  display: inline-block;
  float: left;
  /*background: #190b40;*/
  /*background: linear-gradient(to bottom, #151617 0%, #38328a 100%);*/
  background: linear-gradient(to bottom, #cc104d 0%, #38328a 100%);
}
.contentTab{
    width:80%;
    display:inline-block;
    padding: 0px 40px;
    box-sizing: border-box;
}
.sideMenu ul{
    padding:0;
    margin: 0;
}
.sideMenu li {
    list-style: none;
    padding: 15px 20px;
    text-align: center;   
    font-family: sans-serif;
    border-right: 8px solid transparent;
}
.sideMenu li a{
    text-decoration:none;
    font-size: 19px;
    color:white;
}
.brand {
  height: 70px;
  text-align: center;
  line-height: 70px;
  /*background: #817c90;*/
  /*background: linear-gradient(to bottom, #151617 0%, #38328a 100%);*/
  background: linear-gradient(to bottom, #350615 0%, #4d4796 100%);
  color: #fff;
  font-size: 40px;
}
.sideMenu li.menuList:hover, .sideMenu li.menuList.current {
  background: #fff;
  /*border-color:#817c90;*/
  margin: 4px 0 4px 0;
  cursor: pointer;
  border: 1px solid;
  cursor: pointer;
}
.sideMenu li.menuList:hover a,
.sideMenu li.menuList.current a{
    color:#817c90;
}
